---
---

body {
  background-color: #ededed;
}

h1, h2, h3, h4 {
  font-weight: normal;
  font-family: 'Coda', cursive;
  a {
    text-decoration: none;
    color: red;
  }
  span {
    font-weight: bold;
    color: purple;
  }
}
